References
https://medium.freecodecamp.org/better-web-scraping-in-python-with-selenium-beautiful-soup-and-pandas-d6390592e251

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import re
import pandas as pd
import os

In [2]:
url = "http://kanview.ks.gov/PayRates/PayRates_Agency.aspx"

# create a new Firefox session
driver = webdriver.Firefox()
driver.implicitly_wait(30)
driver.get(url)

In [3]:
"""
I faced this same problem and here's how I fixed it:

Download the geckodriver from here
Extract and unzip and move the geckodriver file to /usr/local/bin/ directory
Run python program with selenium Firefox webdriver.
"""

"\nI faced this same problem and here's how I fixed it:\n\nDownload the geckodriver from here\nExtract and unzip and move the geckodriver file to /usr/local/bin/ directory\nRun python program with selenium Firefox webdriver.\n"

In [4]:
python_button = driver.find_element_by_id('MainContent_uxLevel1_Agencies_uxAgencyBtn_33')

In [5]:
python_button.click()

In [6]:
datalist = [] #empty list
x = 0

In [7]:
python_button = driver.find_element_by_id('MainContent_uxLevel2_JobTitles_uxJobTitleBtn_' + str(1))
python_button.click()

In [8]:
soup_level2=BeautifulSoup(driver.page_source, 'lxml')

In [9]:
table = soup_level2.find_all('table')[0]

In [10]:
table

<table border="1" cellspacing="0" class="dataView" id="MainContent_uxLevel3_Employees" rules="all" style="border-collapse:collapse;">
<tbody><tr>
<th abbr="Employee Name" scope="col"><a href="javascript:__doPostBack('ctl00$MainContent$uxLevel3_Employees','Sort$employee_name')">Employee Name</a></th><th abbr="Job Title" scope="col"><a href="javascript:__doPostBack('ctl00$MainContent$uxLevel3_Employees','Sort$job_title')">Job Title</a></th><th abbr="Overtime Pay" scope="col"><a href="javascript:__doPostBack('ctl00$MainContent$uxLevel3_Employees','Sort$overtime_pay')">Overtime Pay</a></th><th abbr="Total Gross Pay" scope="col"><a href="javascript:__doPostBack('ctl00$MainContent$uxLevel3_Employees','Sort$total_gross_pay')">Total Gross Pay</a></th>
</tr><tr class="row">
<td>Armstrong, Micki A</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$43,289.84</td>
</tr><tr class="altRow">
<td>Campbell, Laura L</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$27,858.53</td>
</tr><tr class="row">
<td>Fitzhugh, Nanette J</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$54,308.05</td>
</tr><tr class="altRow">
<td>Frank, Amanda D</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$30,615.03</td>
</tr><tr class="row">
<td>Johansen, Vicki D</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$11,177.92</td>
</tr><tr class="altRow">
<td>Johnson, Stephanie A</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$33,880.21</td>
</tr><tr class="row">
<td>Klaus, Macy S</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$32,380.49</td>
</tr><tr class="altRow">
<td>Leiker, Dawne P</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$34,000.50</td>
</tr><tr class="row">
<td>Meininger, Kristine R</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$32,492.83</td>
</tr><tr class="altRow">
<td>Newell, Rebecca L</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$33,693.04</td>
</tr><tr class="row">
<td>Perryman, Janelle L</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$39,514.99</td>
</tr><tr class="altRow">
<td>Prickett, Stacy K</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$36,898.36</td>
</tr><tr class="row">
<td>Terry, Troy A</td><td>Academic Advisor</td><td align="right">$0.00</td><td align="right">$42,479.61</td>
</tr>
</tbody></table>

In [11]:
df = pd.read_html(str(table),header=0)

In [12]:
df

[            Employee Name         Job Title Overtime Pay Total Gross Pay
 0      Armstrong, Micki A  Academic Advisor        $0.00      $43,289.84
 1       Campbell, Laura L  Academic Advisor        $0.00      $27,858.53
 2     Fitzhugh, Nanette J  Academic Advisor        $0.00      $54,308.05
 3         Frank, Amanda D  Academic Advisor        $0.00      $30,615.03
 4       Johansen, Vicki D  Academic Advisor        $0.00      $11,177.92
 5    Johnson, Stephanie A  Academic Advisor        $0.00      $33,880.21
 6           Klaus, Macy S  Academic Advisor        $0.00      $32,380.49
 7         Leiker, Dawne P  Academic Advisor        $0.00      $34,000.50
 8   Meininger, Kristine R  Academic Advisor        $0.00      $32,492.83
 9       Newell, Rebecca L  Academic Advisor        $0.00      $33,693.04
 10    Perryman, Janelle L  Academic Advisor        $0.00      $39,514.99
 11      Prickett, Stacy K  Academic Advisor        $0.00      $36,898.36
 12          Terry, Troy A  Academic Advisor        $0.00      $42,479.61]

In [13]:
df[0]

            Employee Name         Job Title Overtime Pay Total Gross Pay
0      Armstrong, Micki A  Academic Advisor        $0.00      $43,289.84
1       Campbell, Laura L  Academic Advisor        $0.00      $27,858.53
2     Fitzhugh, Nanette J  Academic Advisor        $0.00      $54,308.05
3         Frank, Amanda D  Academic Advisor        $0.00      $30,615.03
4       Johansen, Vicki D  Academic Advisor        $0.00      $11,177.92
5    Johnson, Stephanie A  Academic Advisor        $0.00      $33,880.21
6           Klaus, Macy S  Academic Advisor        $0.00      $32,380.49
7         Leiker, Dawne P  Academic Advisor        $0.00      $34,000.50
8   Meininger, Kristine R  Academic Advisor        $0.00      $32,492.83
9       Newell, Rebecca L  Academic Advisor        $0.00      $33,693.04
10    Perryman, Janelle L  Academic Advisor        $0.00      $39,514.99
11      Prickett, Stacy K  Academic Advisor        $0.00      $36,898.36
12          Terry, Troy A  Academic Advisor        $0.00      $42,479.61

In [14]:
driver.execute_script("window.history.go(-1)")