In [1]:
import quandl

In [2]:
import pandas as pd

In [3]:
df=quandl.get('FMAC/HPI',authtoken='YZya5Hsq6QFx8sg2V-T5')

In [4]:
print (df.head())

                   AK         AL         AR         AZ         CA         CO  \
Date
1975-01-31  34.371830  35.695975  36.738861  28.937735  15.722312  19.603977
1975-02-28  34.880945  35.896770  37.098962  29.463708  15.775202  19.837138
1975-03-31  35.402217  36.133518  37.416398  29.959514  15.964942  20.073483
1975-04-30  35.944703  36.425723  37.677813  30.345148  16.275547  20.301864
1975-05-31  36.535272  36.695708  37.921099  30.546449  16.533017  20.495075

                   CT         DC         DE         FL  \
Date
1975-01-31  24.369431  18.255987  27.264842  30.997043
1975-02-28  24.908036  18.382701  27.250734  32.229049
1975-03-31  25.313556  18.514587  27.268478  34.027506
1975-04-30  25.541141  18.689302  27.362673  36.218077
1975-05-31  25.614056  18.937116  27.561893  36.437855

                          ...                        TX         UT         VA  \
Date                      ...
1975-01-31                ...                 32.602350  24.698474  27.912640
1975-02-28                ...                 32.944116  25.060977  28.205810
1975-03-31                ...                 33.542975  25.381341  28.420407
1975-04-30                ...                 34.402826  25.627200  28.578762
1975-05-31                ...                 34.649755  25.782334  28.717611

                   VT         WA         WI         WV         WY  \
Date
1975-01-31  26.637620  17.484315  28.096764  41.002072  31.668794
1975-02-28  26.956271  17.571053  28.486170  42.040473  32.161920
1975-03-31  27.264731  17.689717  28.860737  43.122486  32.680525
1975-04-30  27.546568  17.818792  29.185048  44.239196  33.210124
1975-05-31  27.794738  17.933277  29.443523  45.363222  33.714128

            United States not seasonaly adjusted  \
Date
1975-01-31                             23.497479
1975-02-28                             23.648785
1975-03-31                             23.895294
1975-04-30                             24.216495
1975-05-31                             24.416894

            United States seasonaly adjusted
Date
1975-01-31                         23.471007
1975-02-28                         23.629873
1975-03-31                         23.844527
1975-04-30                         24.111771
1975-05-31                         24.261528

[5 rows x 53 columns]

In [5]:
print (df.shape)

(516, 53)

In [6]:
ak=df['AK']

In [7]:
print (ak.head())

Date
1975-01-31    34.371830
1975-02-28    34.880945
1975-03-31    35.402217
1975-04-30    35.944703
1975-05-31    36.535272
Name: AK, dtype: float64

## Removing last two waste columns but initial method fails iloc helps

In [10]:
df=df[:-2][:]

In [11]:
print (df.shape)

(512, 53)

In [12]:
df=df.iloc[:,:-2]

In [13]:
print(df.shape)

(512, 51)

In [14]:
print(df.head())

                   AK         AL         AR         AZ         CA         CO  \
Date
1975-01-31  34.371830  35.695975  36.738861  28.937735  15.722312  19.603977
1975-02-28  34.880945  35.896770  37.098962  29.463708  15.775202  19.837138
1975-03-31  35.402217  36.133518  37.416398  29.959514  15.964942  20.073483
1975-04-30  35.944703  36.425723  37.677813  30.345148  16.275547  20.301864
1975-05-31  36.535272  36.695708  37.921099  30.546449  16.533017  20.495075

                   CT         DC         DE         FL    ...             SD  \
Date                                                      ...
1975-01-31  24.369431  18.255987  27.264842  30.997043    ...      37.722210
1975-02-28  24.908036  18.382701  27.250734  32.229049    ...      37.319634
1975-03-31  25.313556  18.514587  27.268478  34.027506    ...      36.908861
1975-04-30  25.541141  18.689302  27.362673  36.218077    ...      36.498238
1975-05-31  25.614056  18.937116  27.561893  36.437855    ...      36.121328

                   TN         TX         UT         VA         VT         WA  \
Date
1975-01-31  32.179633  32.602350  24.698474  27.912640  26.637620  17.484315
1975-02-28  32.218599  32.944116  25.060977  28.205810  26.956271  17.571053
1975-03-31  32.296539  33.542975  25.381341  28.420407  27.264731  17.689717
1975-04-30  32.416385  34.402826  25.627200  28.578762  27.546568  17.818792
1975-05-31  32.563209  34.649755  25.782334  28.717611  27.794738  17.933277

                   WI         WV         WY
Date
1975-01-31  28.096764  41.002072  31.668794
1975-02-28  28.486170  42.040473  32.161920
1975-03-31  28.860737  43.122486  32.680525
1975-04-30  29.185048  44.239196  33.210124
1975-05-31  29.443523  45.363222  33.714128

[5 rows x 51 columns]

## Print column names

In [17]:
states= (df.columns.values)

In [18]:
print (states)

['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'IA' 'ID'
 'IL' 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC'
 'ND' 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']

## Getting list of states from wiki page as read_html and check same as states list

In [19]:
df2=pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

In [20]:
print(df2)

[         0              1               2               3                  4
0   Sl no.  Abbreviations      State Name         Capital     Became a State
1        1             AL         Alabama      Montgomery  December 14, 1819
2        2             AK          Alaska          Juneau    January 3, 1959
3        3             AZ         Arizona         Phoenix  February 14, 1912
4        4             AR        Arkansas     Little Rock      June 15, 1836
5        5             CA      California      Sacramento  September 9, 1850
6        6             CO        Colorado          Denver     August 1, 1876
7        7             CT     Connecticut        Hartford    January 9, 1788
8        8             DE        Delaware           Dover   December 7, 1787
9        9             FL         Florida     Tallahassee      March 3, 1845
10      10             GA         Georgia         Atlanta    January 2, 1788
11      11             HI          Hawaii        Honolulu    August 21, 1959
12      12             ID           Idaho           Boise       July 3, 1890
13      13             IL        Illinois     Springfield   December 3, 1818
14      14             IN         Indiana    Indianapolis  December 11, 1816
15      15             IA            Iowa      Des Moines  December 28, 1846
16      16             KS          Kansas          Topeka   January 29, 1861
17      17             KY        Kentucky       Frankfort       June 1, 1792
18      18             LA       Louisiana     Baton Rouge     April 30, 1812
19      19             ME           Maine         Augusta     March 15, 1820
20      20             MD        Maryland       Annapolis     April 28, 1788
21      21             MA   Massachusetts          Boston   February 6, 1788
22      22             MI        Michigan         Lansing   January 26, 1837
23      23             MN       Minnesota      Saint Paul       May 11, 1858
24      24             MS     Mississippi         Jackson  December 10, 1817
25      25             MO        Missouri  Jefferson City    August 10, 1821
26      26             MT         Montana          Helena   November 8, 1889
27      27             NE        Nebraska         Lincoln      March 1, 1867
28      28             NV          Nevada     Carson City   October 31, 1864
29      29             NH   New Hampshire         Concord      June 21, 1788
30      30             NJ      New Jersey         Trenton  December 18, 1787
31      31             NM      New Mexico        Santa Fe    January 6, 1912
32      32             NY        New York          Albany      July 26, 1788
33      33             NC  North Carolina         Raleigh  November 21, 1789
34      34             ND    North Dakota        Bismarck   November 2, 1889
35      35             OH            Ohio        Columbus      March 1, 1803
36      36             OK        Oklahoma   Oklahoma City  November 16, 1907
37      37             OR          Oregon           Salem  February 14, 1859
38      38             PA    Pennsylvania      Harrisburg  December 12, 1787
39      39             RI    Rhode Island      Providence       May 19, 1790
40      40             SC  South Carolina        Columbia       May 23, 1788
41      41             SD    South Dakota          Pierre   November 2, 1889
42      42             TN       Tennessee       Nashville       June 1, 1796
43      43             TX           Texas          Austin  December 29, 1845
44      44             UT            Utah  Salt Lake City    January 4, 1896
45      45             VT         Vermont      Montpelier      March 4, 1791
46      46             VA        Virginia        Richmond      June 25, 1788
47      47             WA      Washington         Olympia  November 11, 1889
48      48             WV   West Virginia      Charleston      June 20, 1863
49      49             WI       Wisconsin         Madison       May 29, 1848
50      50             WY         Wyoming        Cheyenne      July 10, 1890,                                              0  \
0  vtePolitical divisions of the United States
1                                       States
2                             Federal district
3                                Insular areas
4                             Outlying islands

                                                   1
0                                                NaN
1  Alabama Alaska Arizona Arkansas California Col...
2                                   Washington, D.C.
3  American Samoa Guam Northern Mariana Islands P...
4  Baker Island Howland Island Jarvis Island John...  ]

In [22]:
print(df2[0][1])

0     Abbreviations
1                AL
2                AK
3                AZ
4                AR
5                CA
6                CO
7                CT
8                DE
9                FL
10               GA
11               HI
12               ID
13               IL
14               IN
15               IA
16               KS
17               KY
18               LA
19               ME
20               MD
21               MA
22               MI
23               MN
24               MS
25               MO
26               MT
27               NE
28               NV
29               NH
30               NJ
31               NM
32               NY
33               NC
34               ND
35               OH
36               OK
37               OR
38               PA
39               RI
40               SC
41               SD
42               TN
43               TX
44               UT
45               VT
46               VA
47               WA
48               WV
49               WI
50               WY
Name: 1, dtype: object

In [23]:
states_=[]
for i in df2[0][1]:
    states_.append(i)

In [24]:
print (states_)

['Abbreviations', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [25]:
states_=states_[1:]

In [26]:
print(states_)

['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [27]:
states_.sort()

In [28]:
print(states_)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [31]:
for (i,j) in zip(states, states_):
    if i!=j:
        print(i, j)

DC DE
DE FL
FL GA
GA HI
HI IA
IA ID
ID IL
IL IN
IN KS
KS KY
KY LA
LA MA
MA MD
MD ME
ME MI
MI MN
MN MO
MO MS
MS MT
MT NC
NC ND
ND NE
NE NH
NH NJ
NJ NM
NM NV
NV NY
NY OH
OH OK
OK OR
OR PA
PA RI
RI SC
SC SD
SD TN
TN TX
TX UT
UT VA
VA VT
VT WA
WA WI
WI WV
WV WY

## DC is extra keep check

## Note on Concat and append

Concat and append are not much useful while adding columns while keeping indexes same,  they just append to the end.
WHile adding more columns with same index merge and join will suit our purpose.
Use concat or append to add a row or series at the end of dataframe

In [32]:

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [34]:
concat = pd.concat([df1,df2])
print(concat)

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [36]:
concat = pd.concat([df1,df2,df3])
print(concat)

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN              50.0
2002   85         3           NaN              55.0
2003   88         2           NaN              65.0
2004   85         2           NaN              55.0
2005   80         2           NaN              50.0
2006   85         3           NaN              55.0
2007   88         2           NaN              65.0
2008   85         2           NaN              55.0
2001   80         2          50.0               NaN
2002   85         3          52.0               NaN
2003   88         2          50.0               NaN
2004   85         2          53.0               NaN

/home/ayush/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

## This is where problem occurs, 2001 2002 03 04 repeated even though indexes are same and could have been concatenated better

In [37]:
df4 = df1.append(df2)
print(df4)

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [38]:
df4 = df1.append(df3)
print(df4)

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN              50.0
2002   85         3           NaN              55.0
2003   88         2           NaN              65.0
2004   85         2           NaN              55.0
2001   80         2          50.0               NaN
2002   85         3          52.0               NaN
2003   88         2          50.0               NaN
2004   85         2          53.0               NaN

/home/ayush/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

## Same problem as in concat

In [39]:
s = pd.Series([80,2,50], index=['HPI','Int_rate','US_GDP_Thousands'])
df4 = df1.append(s, ignore_index=True)
print(df4)

   HPI  Int_rate  US_GDP_Thousands
0   80         2                50
1   85         3                55
2   88         2                65
3   85         2                55
4   80         2                50

Better use of append and concat

## Merge and Join

Merge does not preserve index while join does, Join will default do on keys, while merge doesn't

In [40]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [41]:
print(pd.merge(df1,df3, on='HPI'))

   HPI  Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
0   80         2                50             7            50
1   85         3                55             8            52
2   85         3                55             6            53
3   85         2                55             8            52
4   85         2                55             6            53
5   88         2                65             9            50

Index lost

In [42]:
print(pd.merge(df1,df2, on=['HPI','Int_rate']))

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [44]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)
joined = df1.join(df3)
print(joined)

     Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80          2                50             7            50
85          3                55             8            52
85          3                55             6            53
85          2                55             8            52
85          2                55             6            53
88          2                65             9            50

Join Preserves index

## Types of Merge possible

In [45]:
df1 = pd.DataFrame({
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55],
                    'Year':[2001, 2002, 2003, 2004]
                    })

df3 = pd.DataFrame({
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53],
                    'Year':[2001, 2003, 2004, 2005]})

In [46]:
merged = pd.merge(df1,df3, on='Year')
print(merged)

   Int_rate  US_GDP_Thousands  Year  Unemployment  Low_tier_HPI
0         2                50  2001             7            50
1         2                65  2003             8            52
2         2                55  2004             9            50

## Default is inner Join, intersection of keys

In [47]:
merged = pd.merge(df1,df3, on='Year')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50             7            50
2003         2                65             8            52
2004         2                55             9            50

In [48]:
merged = pd.merge(df1,df3, on='Year', how='left')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001         2                50           7.0          50.0
2002         3                55           NaN           NaN
2003         2                65           8.0          52.0
2004         2                55           9.0          50.0

## Left Join here means using df1

In [49]:
merged = pd.merge(df1,df3, on='Year', how='right')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0             7            50
2003       2.0              65.0             8            52
2004       2.0              55.0             9            50
2005       NaN               NaN             6            53

In [50]:
merged = pd.merge(df1,df3, on='Year', how='outer')
merged.set_index('Year', inplace=True)
print(merged)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0           7.0          50.0
2002       3.0              55.0           NaN           NaN
2003       2.0              65.0           8.0          52.0
2004       2.0              55.0           9.0          50.0
2005       NaN               NaN           6.0          53.0

## How Join works ,Join always use keys to merge

In [51]:
df1.set_index('Year', inplace=True)
df3.set_index('Year', inplace=True)
joined = df1.join(df3, how="outer")
print(joined)

      Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
Year
2001       2.0              50.0           7.0          50.0
2002       3.0              55.0           NaN           NaN
2003       2.0              65.0           8.0          52.0
2004       2.0              55.0           9.0          50.0
2005       NaN               NaN           6.0          53.0