In [19]:
import pandas as pd

## Reading Csv input

In [20]:
df=pd.read_csv('data/housing.csv')

In [21]:
print (df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

## Selecting few columns for easy view

In [22]:
df=df[['total_rooms','total_bedrooms','population','households']]

In [23]:
print (df.head())

   total_rooms  total_bedrooms  population  households
0        880.0           129.0       322.0       126.0
1       7099.0          1106.0      2401.0      1138.0
2       1467.0           190.0       496.0       177.0
3       1274.0           235.0       558.0       219.0
4       1627.0           280.0       565.0       259.0

In [24]:
df=df.set_index('total_rooms')

In [25]:
print(df.head())

             total_bedrooms  population  households
total_rooms
880.0                 129.0       322.0       126.0
7099.0               1106.0      2401.0      1138.0
1467.0                190.0       496.0       177.0
1274.0                235.0       558.0       219.0
1627.0                280.0       565.0       259.0

In [27]:
df.to_csv('data/modified_housing.csv')

In [28]:
print (df.head())

             total_bedrooms  population  households
total_rooms
880.0                 129.0       322.0       126.0
7099.0               1106.0      2401.0      1138.0
1467.0                190.0       496.0       177.0
1274.0                235.0       558.0       219.0
1627.0                280.0       565.0       259.0

## Renaming columns

In [29]:
df=df.rename(columns={'total_bedrooms':'no_of_bedrooms'})

In [30]:
print (df.head())

             no_of_bedrooms  population  households
total_rooms
880.0                 129.0       322.0       126.0
7099.0               1106.0      2401.0      1138.0
1467.0                190.0       496.0       177.0
1274.0                235.0       558.0       219.0
1627.0                280.0       565.0       259.0

## Converting to other file types

In [39]:
df.to_html('data/modified_housing.html')